<div class="module-post">

    <h2 class="m-pst-title"><a class="m-pst-link" href="{{postLink}}">{{title}}</a></h2>

    <div class="m-pst-content">
        <article class="module-article">{{{blog_content content}}}</article>
    </div>

    <date class="m-pst-date">Published on {{date_format publish_date}}</date>

    {{#if author.display_name}}
        <p class="m-pst-author">Written by <a class="m-pst-author-link" href={{author.link}}>{{author.display_name}}</a></p>
    {{/if}}

    {{#if category.name}}
        <p class="m-pst-category">Category: <a class="m-pst-category-link" href={{category.link}}>{{category.name}}</a></p>
    {{/if}}

    {{#if tags}}
        <div class="m-pst-tag-container">
            <ul class="m-pst-tags">
                {{#each tags}}
                    <li class="m-pst-tag"><a class="m-pst-tag-link" href="{{link}}">#{{name}}</a></li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

</div>