<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{blogInfo.pageTitle}}</title>
    {{> public/common-styles}}
    {{> public/common-scripts}}
</head>
<body>

<div class="module-header-footer-layout">
    <header class="m-hfl-header">
        <h1><a class="m-hfl-header-link" href="{{blogInfo.homeUri}}">{{blogInfo.blogTitle}}</a></h1>
    </header>
    <div class="m-hfl-body">
        {{{body}}}
    </div>
    <header class="m-hfl-footer">
        {{#if blogInfo.blogTitle}}
            <span>&copy;{{blogInfo.blogTitle}}</span>
        {{/if}}
    </header>
</div>

</body>
</html>